<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>April 18<sup>th</sup></h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/00-Intro-Ala/index.html">What is the ALA?</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:35</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-Introduction/index.html">Introduction to Darwin Core</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:50</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-Data-Cleaning/index.html">Data Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>15:35</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-Adding-Metadata/index.html">Adding Metadata</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:20</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-Putting-It-All-Together/index.html">Putting It All Together</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>